* {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.container {
    max-width: 1360px;
    margin: auto;
}
.bgr-header {
    height: 200px;
    background: rgb(38, 53, 141);
    position: relative;
}
.row {
    .form-inline {
        // label {
        //     display: inline;
        // }
    }
}
.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    // .form-control {
    //     margin-left: 0;
    //     width: 100%;
    // }
}

.forms {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    &-search {
        background: rgb(184, 198, 247);
        padding: 20px;
        .colCustom {
            padding:0 80px 0  0;
        }
    }
}
.btw {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    
}
.btn {
    width: 100%;
    height: 100%;
    background: rgb(247, 244, 244);
}
